In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from numpy import isnan
from pandas import read_csv

In [145]:
data= pd.read_csv('CouponRecommendation.csv') # IMPORTATION DATA

In [4]:
# data

In [71]:
data.shape

(12684, 26)

In [20]:
data.shape # TAILLE DE DATAFRAME

(12684, 26)

In [85]:
data.info() #TYPE DE CHAQUE COLONNE

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12684 non-null  object
 1   passanger             12684 non-null  object
 2   weather               12684 non-null  object
 3   temperature           12684 non-null  int64
 4   time                  12684 non-null  object
 5   coupon                12684 non-null  object
 6   expiration            12684 non-null  object
 7   gender                12684 non-null  object
 8   age                   12684 non-null  object
 9   maritalStatus         12684 non-null  object
 10  has_children          12684 non-null  int64
 11  education             12684 non-null  object
 12  occupation            12684 non-null  object
 13  income                12684 non-null  object
 14  car                   108 non-null    object
 15  Bar                   12577 non-null  object
 16  CoffeeHouse           12467 non-null  object
 17  CarryAway             12533 non-null  object
 18  RestaurantLessThan20  12554 non-null  object
 19  Restaurant20To50      12495 non-null  object
 20  toCoupon_GEQ5min      12684 non-null  int64
 21  toCoupon_GEQ15min     12684 non-null  int64
 22  toCoupon_GEQ25min     12684 non-null  int64
 23  direction_same        12684 non-null  int64
 24  direction_opp         12684 non-null  int64
 25  Y                     12684 non-null  int64
dtypes: int64(8), object(18)
memory usage: 2.5+ MB

In [22]:
 data.describe()#description de chaque colonne num√©rique

,temperature,has_children,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
count,12684.000000,12684.000000,12684.0,12684.000000,12684.000000,12684.000000,12684.000000,12684.000000
mean,63.301798,0.414144,1.0,0.561495,0.119126,0.214759,0.785241,0.568433
std,19.154486,0.492593,0.0,0.496224,0.323950,0.410671,0.410671,0.495314
min,30.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,55.000000,0.000000,1.0,0.000000,0.000000,0.000000,1.000000,0.000000
50%,80.000000,0.000000,1.0,1.000000,0.000000,0.000000,1.000000,1.000000
75%,80.000000,1.000000,1.0,1.000000,0.000000,0.000000,1.000000,1.000000
max,80.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000

In [86]:
missing_count = data.isnull().sum()
missing_percentage = (missing_count / len(data)) * 100
missing_data_info = pd.DataFrame({
    'Nom de la colonne': data.columns,
    'Nombre de valeurs manquantes': missing_count,
    'Pourcentage de valeurs manquantes': missing_percentage
})
missing_data_info
#valeurs nulles pour chaque colonne + pourcentage

,Nom de la colonne,Nombre de valeurs manquantes,Pourcentage de valeurs manquantes
destination,destination,0,0.000000
passanger,passanger,0,0.000000
weather,weather,0,0.000000
temperature,temperature,0,0.000000
time,time,0,0.000000
coupon,coupon,0,0.000000
expiration,expiration,0,0.000000
gender,gender,0,0.000000
age,age,0,0.000000
maritalStatus,maritalStatus,0,0.000000
has_children,has_children,0,0.000000
education,education,0,0.000000
occupation,occupation,0,0.000000
income,income,0,0.000000
car,car,12576,99.148534
Bar,Bar,107,0.843582
CoffeeHouse,CoffeeHouse,217,1.710817
CarryAway,CarryAway,151,1.190476
RestaurantLessThan20,RestaurantLessThan20,130,1.024913
Restaurant20To50,Restaurant20To50,189,1.490066
toCoupon_GEQ5min,toCoupon_GEQ5min,0,0.000000
toCoupon_GEQ15min,toCoupon_GEQ15min,0,0.000000
toCoupon_GEQ25min,toCoupon_GEQ25min,0,0.000000
direction_same,direction_same,0,0.000000
direction_opp,direction_opp,0,0.000000
Y,Y,0,0.000000

In [87]:
for column in data.columns:
    unique_values = data[column].unique()
    print(f"Valeurs uniques pour la colonne {column}: {unique_values}")

Valeurs uniques pour la colonne destination: ['No Urgent Place' 'Home' 'Work']
Valeurs uniques pour la colonne passanger: ['Alone' 'Friend(s)' 'Kid(s)' 'Partner']
Valeurs uniques pour la colonne weather: ['Sunny' 'Rainy' 'Snowy']
Valeurs uniques pour la colonne temperature: [55 80 30]
Valeurs uniques pour la colonne time: ['2PM' '10AM' '6PM' '7AM' '10PM']
Valeurs uniques pour la colonne coupon: ['Restaurant(<20)' 'Coffee House' 'Carry out & Take away' 'Bar'
 'Restaurant(20-50)']
Valeurs uniques pour la colonne expiration: ['1d' '2h']
Valeurs uniques pour la colonne gender: ['Female' 'Male']
Valeurs uniques pour la colonne age: ['21' '46' '26' '31' '41' '50plus' '36' 'below21']
Valeurs uniques pour la colonne maritalStatus: ['Unmarried partner' 'Single' 'Married partner' 'Divorced' 'Widowed']
Valeurs uniques pour la colonne has_children: [1 0]
Valeurs uniques pour la colonne education: ['Some college - no degree' 'Bachelors degree' 'Associates degree'
 'High School Graduate' 'Graduate degree (Masters or Doctorate)'
 'Some High School']
Valeurs uniques pour la colonne occupation: ['Unemployed' 'Architecture & Engineering' 'Student'
 'Education&Training&Library' 'Healthcare Support'
 'Healthcare Practitioners & Technical' 'Sales & Related' 'Management'
 'Arts Design Entertainment Sports & Media' 'Computer & Mathematical'
 'Life Physical Social Science' 'Personal Care & Service'
 'Community & Social Services' 'Office & Administrative Support'
 'Construction & Extraction' 'Legal' 'Retired'
 'Installation Maintenance & Repair' 'Transportation & Material Moving'
 'Business & Financial' 'Protective Service'
 'Food Preparation & Serving Related' 'Production Occupations'
 'Building & Grounds Cleaning & Maintenance' 'Farming Fishing & Forestry']
Valeurs uniques pour la colonne income: ['$37500 - $49999' '$62500 - $74999' '$12500 - $24999' '$75000 - $87499'
 '$50000 - $62499' '$25000 - $37499' '$100000 or More' '$87500 - $99999'
 'Less than $12500']
Valeurs uniques pour la colonne car: [nan 'Scooter and motorcycle' 'crossover' 'Mazda5' 'do not drive'
 'Car that is too old to install Onstar :D']
Valeurs uniques pour la colonne Bar: ['never' 'less1' '1~3' 'gt8' nan '4~8']
Valeurs uniques pour la colonne CoffeeHouse: ['never' 'less1' '4~8' '1~3' 'gt8' nan]
Valeurs uniques pour la colonne CarryAway: [nan '4~8' '1~3' 'gt8' 'less1' 'never']
Valeurs uniques pour la colonne RestaurantLessThan20: ['4~8' '1~3' 'less1' 'gt8' nan 'never']
Valeurs uniques pour la colonne Restaurant20To50: ['1~3' 'less1' 'never' 'gt8' '4~8' nan]
Valeurs uniques pour la colonne toCoupon_GEQ5min: [1]
Valeurs uniques pour la colonne toCoupon_GEQ15min: [0 1]
Valeurs uniques pour la colonne toCoupon_GEQ25min: [0 1]
Valeurs uniques pour la colonne direction_same: [0 1]
Valeurs uniques pour la colonne direction_opp: [1 0]
Valeurs uniques pour la colonne Y: [1 0]

In [146]:
# Supprimer la colonne car ( 99% des valeurs sont manquantes ) 
data = data.drop('car', axis=1)

In [147]:
# Supprimer la colonne toCoupon_GEQ5min ( toCoupon_GEQ5min prend la meme valeurs pour tout les lignes 1  ) 
data = data.drop('toCoupon_GEQ5min', axis=1)

In [39]:
data.shape 
# taille apres supprussion du colonne car et toCoupon_GEQ5min

(12684, 24)

In [148]:
# remplacer les valeurs manquants par la valeur la plus frequente (most frequent value)
data['Bar'] = data['Bar'].fillna(data['Bar'].mode()[0])
data['CoffeeHouse'] = data['CoffeeHouse'].fillna(data['CoffeeHouse'].mode()[0])
data['CarryAway'] = data['CarryAway'].fillna(data['CarryAway'].mode()[0])
data['RestaurantLessThan20'] = data['RestaurantLessThan20'].fillna(data['RestaurantLessThan20'].mode()[0])
data['Restaurant20To50'] = data['Restaurant20To50'].fillna(data['Restaurant20To50'].mode()[0])
data.isnull().sum()

destination             0
passanger               0
weather                 0
temperature             0
time                    0
coupon                  0
expiration              0
gender                  0
age                     0
maritalStatus           0
has_children            0
education               0
occupation              0
income                  0
Bar                     0
CoffeeHouse             0
CarryAway               0
RestaurantLessThan20    0
Restaurant20To50        0
toCoupon_GEQ15min       0
toCoupon_GEQ25min       0
direction_same          0
direction_opp           0
Y                       0
dtype: int64

In [ ]:
#Valeurs uniques pour la colonne passanger: ['Alone' 'Friend(s)' 'Kid(s)' 'Partner']

In [63]:



#data_encoded

In [149]:
# Cr√©er un dictionnaire de correspondance cat√©gorie -> entier
# category_mapping = {
#     '2PM': 14,
#     '10AM': 10,
#     '6PM': 18,
#     '7AM': 7,
#     '10PM': 22
# }
# category_mapping_weather = {
#     'Sunny': 0,
#     'Rainy': 1,
#     'Snowy': 2
# }
# category_mapping_expiration = {
#     '1d': 24,
#     '2h': 2
# }
# category_mapping_gender = {
#     'Female': 0,
#     'Male': 1
# }
# category_mapping_age = {
#     'below21': 20,
#     '21': 21,
#     '26': 26,
#     '31': 31,
#     '36': 36,
#     '41': 41,
#     '46': 46,
#     '50plus': 50
# }
# category_mapping_age = {
#     'below21': 20,
#     '21': 21,
#     '26': 26,
#     '31': 31,
#     '36': 36,
#     '41': 41,
#     '46': 46,
#     '50plus': 50
# }
# category_mapping_education = {
#     'Some High School':0,
#     'High School Graduate':1,
#     'Some college - no degree':2,
#     'Associates degree':3,
#     'Bachelors degree':4,
#     'Graduate degree (Masters or Doctorate)':5 }

# data_encoded = pd.get_dummies(data, columns=['destination'], prefix='dest')
# data_encoded = pd.get_dummies(data_encoded, columns=['passanger'], prefix='passan')
# data_encoded = pd.get_dummies(data_encoded, columns=['coupon'], prefix='coupon')
# data_encoded['time'] = data_encoded['time'].map(category_mapping)
# data_encoded['weather'] = data_encoded['weather'].map(category_mapping_weather)
# data_encoded['expiration'] = data_encoded['expiration'].map(category_mapping_expiration)
# data_encoded['gender'] = data_encoded['gender'].map(category_mapping_gender)
# data_encoded['age'] = data_encoded['age'].map(category_mapping_age)
# data_encoded['education'] = data_encoded['education'].map(category_mapping_education)
data_encoded
# Effectuer l'encodage num√©rique de la colonne "destination"
# data_encoded.info()

# Afficher le DataFrame avec la colonne "destination_encoded"
# gender: ['Female' 'Male']
#time: ['2PM' '10AM' '6PM' '7AM' '10PM']
# expiration: ['1d' '2h']
#Valeurs uniques pour la colonne education: ['Some college - no degree' 'Bachelors degree' 'Associates degree'
 # 'High School Graduate' 'Graduate degree (Masters or Doctorate)'
 # 'Some High School']
#Valeurs uniques pour la colonne weather: ['Sunny' 'Rainy' 'Snowy']

,weather,temperature,time,expiration,gender,age,maritalStatus,has_children,education,occupation,...,dest_Work,passan_Alone,passan_Friend(s),passan_Kid(s),passan_Partner,coupon_Bar,coupon_Carry out & Take away,coupon_Coffee House,coupon_Restaurant(20-50),coupon_Restaurant(<20)
0,0,55,14,24,0,21,Unmarried partner,1,2,Unemployed,...,False,True,False,False,False,False,False,False,False,True
1,0,80,10,2,0,21,Unmarried partner,1,2,Unemployed,...,False,False,True,False,False,False,False,True,False,False
2,0,80,10,2,0,21,Unmarried partner,1,2,Unemployed,...,False,False,True,False,False,False,True,False,False,False
3,0,80,14,2,0,21,Unmarried partner,1,2,Unemployed,...,False,False,True,False,False,False,False,True,False,False
4,0,80,14,24,0,21,Unmarried partner,1,2,Unemployed,...,False,False,True,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,1,55,18,24,1,26,Single,0,4,Sales & Related,...,False,False,False,False,True,False,True,False,False,False
12680,1,55,7,24,1,26,Single,0,4,Sales & Related,...,True,True,False,False,False,False,True,False,False,False
12681,2,30,7,24,1,26,Single,0,4,Sales & Related,...,True,True,False,False,False,False,False,True,False,False
12682,2,30,7,24,1,26,Single,0,4,Sales & Related,...,True,True,False,False,False,True,False,False,False,False
12683,0,80,7,2,1,26,Single,0,4,Sales & Related,...,True,True,False,False,False,False,False,False,True,False

In [151]:
# occupation_dict = {'Healthcare Support':'High_Acceptance','Construction & Extraction':'High_Acceptance','Healthcare Practitioners & Technical':'High_Acceptance',
#                    'Protective Service':'High_Acceptance','Architecture & Engineering':'High_Acceptance','Production Occupations':'Medium_High_Acceptance',
#                     'Student':'Medium_High_Acceptance','Office & Administrative Support':'Medium_High_Acceptance','Transportation & Material Moving':'Medium_High_Acceptance',
#                     'Building & Grounds Cleaning & Maintenance':'Medium_High_Acceptance','Management':'Medium_Acceptance','Food Preparation & Serving Related':'Medium_Acceptance',
#                    'Life Physical Social Science':'Medium_Acceptance','Business & Financial':'Medium_Acceptance','Computer & Mathematical':'Medium_Acceptance',
#                     'Sales & Related':'Medium_Low_Acceptance','Personal Care & Service':'Medium_Low_Acceptance','Unemployed':'Medium_Low_Acceptance',
#                    'Farming Fishing & Forestry':'Medium_Low_Acceptance','Installation Maintenance & Repair':'Medium_Low_Acceptance','Education&Training&Library':'Low_Acceptance',
#                     'Arts Design Entertainment Sports & Media':'Low_Acceptance','Community & Social Services':'Low_Acceptance','Legal':'Low_Acceptance','Retired':'Low_Acceptance'}
# data_encoded['occupation'] = data_encoded['occupation'].map(occupation_dict)
# from sklearn.preprocessing import OrdinalEncoder
# encoder = OrdinalEncoder()
# encoder = OrdinalEncoder(categories=[ ['Low_Acceptance','Medium_Low_Acceptance','Medium_Acceptance','Medium_High_Acceptance','High_Acceptance']])
# data_encoded.occupation = encoder.fit_transform(data_encoded.occupation.values.reshape(-1, 1))

data_encoded

,weather,temperature,time,expiration,gender,age,maritalStatus,has_children,education,occupation,...,dest_Work,passan_Alone,passan_Friend(s),passan_Kid(s),passan_Partner,coupon_Bar,coupon_Carry out & Take away,coupon_Coffee House,coupon_Restaurant(20-50),coupon_Restaurant(<20)
0,0,55,14,24,0,21,Unmarried partner,1,2,1.0,...,False,True,False,False,False,False,False,False,False,True
1,0,80,10,2,0,21,Unmarried partner,1,2,1.0,...,False,False,True,False,False,False,False,True,False,False
2,0,80,10,2,0,21,Unmarried partner,1,2,1.0,...,False,False,True,False,False,False,True,False,False,False
3,0,80,14,2,0,21,Unmarried partner,1,2,1.0,...,False,False,True,False,False,False,False,True,False,False
4,0,80,14,24,0,21,Unmarried partner,1,2,1.0,...,False,False,True,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,1,55,18,24,1,26,Single,0,4,1.0,...,False,False,False,False,True,False,True,False,False,False
12680,1,55,7,24,1,26,Single,0,4,1.0,...,True,True,False,False,False,False,True,False,False,False
12681,2,30,7,24,1,26,Single,0,4,1.0,...,True,True,False,False,False,False,False,True,False,False
12682,2,30,7,24,1,26,Single,0,4,1.0,...,True,True,False,False,False,True,False,False,False,False
12683,0,80,7,2,1,26,Single,0,4,1.0,...,True,True,False,False,False,False,False,False,True,False

In [153]:
data_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   weather                       12684 non-null  int64
 1   temperature                   12684 non-null  int64
 2   time                          12684 non-null  int64
 3   expiration                    12684 non-null  int64
 4   gender                        12684 non-null  int64
 5   age                           12684 non-null  int64
 6   maritalStatus                 12684 non-null  object
 7   has_children                  12684 non-null  int64
 8   education                     12684 non-null  int64
 9   occupation                    12684 non-null  float64
 10  income                        12684 non-null  object
 11  Bar                           12684 non-null  object
 12  CoffeeHouse                   12684 non-null  object
 13  CarryAway                     12684 non-null  object
 14  RestaurantLessThan20          12684 non-null  object
 15  Restaurant20To50              12684 non-null  object
 16  toCoupon_GEQ15min             12684 non-null  int64
 17  toCoupon_GEQ25min             12684 non-null  int64
 18  direction_same                12684 non-null  int64
 19  direction_opp                 12684 non-null  int64
 20  Y                             12684 non-null  int64
 21  dest_Home                     12684 non-null  bool
 22  dest_No Urgent Place          12684 non-null  bool
 23  dest_Work                     12684 non-null  bool
 24  passan_Alone                  12684 non-null  bool
 25  passan_Friend(s)              12684 non-null  bool
 26  passan_Kid(s)                 12684 non-null  bool
 27  passan_Partner                12684 non-null  bool
 28  coupon_Bar                    12684 non-null  bool
 29  coupon_Carry out & Take away  12684 non-null  bool
 30  coupon_Coffee House           12684 non-null  bool
 31  coupon_Restaurant(20-50)      12684 non-null  bool
 32  coupon_Restaurant(<20)        12684 non-null  bool
dtypes: bool(12), float64(1), int64(13), object(7)
memory usage: 2.2+ MB

In [20]:
# Comptez le nombre de personnes ayant accept√© le coupon (Y = 1)
nombre_accepte = data[data['Y'] == 1]['Y'].count()

# Calculez le pourcentage
nombre_total = len(data)  # Nombre total de personnes dans l'ensemble de donn√©es
pourcentage_accepte = (nombre_accepte / nombre_total) * 100

# Affichez le r√©sultat
print("Pourcentage de personnes ayant accept√© le coupon :", pourcentage_accepte, "%")

Pourcentage de personnes ayant accept√© le coupon : 56.84326710816777 %

In [21]:
counts = data['maritalStatus'].value_counts()
print("Pourcentage de chaque type de maritalStatus :")
print(counts)

Pourcentage de chaque type de maritalStatus :
maritalStatus
Married partner      5100
Single               4752
Unmarried partner    2186
Divorced              516
Widowed               130
Name: count, dtype: int64

In [37]:
counts = data['toCoupon_GEQ5min'].value_counts()
print("Pourcentage de chaque type de maritalStatus :")
print(counts)

Pourcentage de chaque type de maritalStatus :
toCoupon_GEQ5min
1    12684
Name: count, dtype: int64

In [34]:
counts = data['income'].value_counts()
print("Pourcentage de chaque type de maritalStatus :")
print(counts)

Pourcentage de chaque type de maritalStatus :
income
$25000 - $37499     2013
$12500 - $24999     1831
$37500 - $49999     1805
$100000 or More     1736
$50000 - $62499     1659
Less than $12500    1042
$87500 - $99999      895
$75000 - $87499      857
$62500 - $74999      846
Name: count, dtype: int64

In [35]:
# Utilisez crosstab pour compter les occurrences de votre variable par rapport √† l'acceptation ou le refus du coupon
tableau_croise = pd.crosstab(index=data['destination'], columns=data['Y'], normalize='index') * 100

# Affichez le tableau crois√©
print(tableau_croise)

Y                        0          1
destination
Home             49.366698  50.633302
No Urgent Place  36.622633  63.377367
Work             49.778761  50.221239

In [36]:
# Utilisez crosstab pour compter les occurrences de votre variable par rapport √† l'acceptation ou le refus du coupon
tableau_croise = pd.crosstab(index=data['passanger'], columns=data['Y'], normalize='index') * 100

# Affichez le tableau crois√©
print(tableau_croise)

Y                  0          1
passanger
Alone      47.419576  52.580424
Friend(s)  32.656155  67.343845
Kid(s)     49.502982  50.497018
Partner    40.465116  59.534884

In [37]:
# Utilisez crosstab pour compter les occurrences de votre variable par rapport √† l'acceptation ou le refus du coupon
tableau_croise = pd.crosstab(index=data['weather'], columns=data['Y'], normalize='index') * 100

# Affichez le tableau crois√©
print(tableau_croise)

Y                0          1
weather
Rainy    53.719008  46.280992
Snowy    52.953737  47.046263
Sunny    40.520409  59.479591

In [3]:
data = data.drop_duplicates()

In [11]:
print('Is there any missing value present or not?',data.isnull().values.any())
missing_percentage = data.isnull().sum()*100/len(data)
missing_value_df = pd.DataFrame({'missing_count': data.isnull().sum(),'missing_percentage': missing_percentage})
missing_value_df[missing_value_df.missing_count != 0]

Is there any missing value present or not? False

Empty DataFrame
Columns: [missing_count, missing_percentage]
Index: []

In [7]:
# Supprimer la colonne car
data = data.drop('car', axis=1)

In [10]:
data['Bar']=data['Bar'].fillna(data['Bar'].value_counts().index[0])
data['CoffeeHouse']=data['CoffeeHouse'].fillna(data['CoffeeHouse'].value_counts().index[0])
data['CarryAway']=data['CarryAway'].fillna(data['CarryAway'].value_counts().index[0])
data['RestaurantLessThan20']=data['RestaurantLessThan20'].fillna(data['RestaurantLessThan20'].value_counts().index[0])
data['Restaurant20To50']=data['Restaurant20To50'].fillna(data['Restaurant20To50'].value_counts().index[0])

In [13]:
donn√©e.corr()

NameError: name 'donn√©e' is not defined