In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from numpy import isnan
from pandas import read_csv

In [18]:
data= pd.read_csv('CouponRecommendation.csv') # IMPORTATION DATA

In [19]:
# data

In [20]:
data.shape

(12684, 26)

In [21]:
data.shape # TAILLE DE DATAFRAME

(12684, 26)

In [22]:
data.info() #TYPE DE CHAQUE COLONNE

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12684 non-null  object
 1   passanger             12684 non-null  object
 2   weather               12684 non-null  object
 3   temperature           12684 non-null  int64
 4   time                  12684 non-null  object
 5   coupon                12684 non-null  object
 6   expiration            12684 non-null  object
 7   gender                12684 non-null  object
 8   age                   12684 non-null  object
 9   maritalStatus         12684 non-null  object
 10  has_children          12684 non-null  int64
 11  education             12684 non-null  object
 12  occupation            12684 non-null  object
 13  income                12684 non-null  object
 14  car                   108 non-null    object
 15  Bar                   12577 non-null  object
 16  CoffeeHouse           12467 non-null  object
 17  CarryAway             12533 non-null  object
 18  RestaurantLessThan20  12554 non-null  object
 19  Restaurant20To50      12495 non-null  object
 20  toCoupon_GEQ5min      12684 non-null  int64
 21  toCoupon_GEQ15min     12684 non-null  int64
 22  toCoupon_GEQ25min     12684 non-null  int64
 23  direction_same        12684 non-null  int64
 24  direction_opp         12684 non-null  int64
 25  Y                     12684 non-null  int64
dtypes: int64(8), object(18)
memory usage: 2.5+ MB

In [23]:
 data.describe()#description de chaque colonne numérique

,temperature,has_children,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
count,12684.000000,12684.000000,12684.0,12684.000000,12684.000000,12684.000000,12684.000000,12684.000000
mean,63.301798,0.414144,1.0,0.561495,0.119126,0.214759,0.785241,0.568433
std,19.154486,0.492593,0.0,0.496224,0.323950,0.410671,0.410671,0.495314
min,30.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,55.000000,0.000000,1.0,0.000000,0.000000,0.000000,1.000000,0.000000
50%,80.000000,0.000000,1.0,1.000000,0.000000,0.000000,1.000000,1.000000
75%,80.000000,1.000000,1.0,1.000000,0.000000,0.000000,1.000000,1.000000
max,80.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000

In [24]:
missing_count = data.isnull().sum()
missing_percentage = (missing_count / len(data)) * 100
missing_data_info = pd.DataFrame({
    'Nom de la colonne': data.columns,
    'Nombre de valeurs manquantes': missing_count,
    'Pourcentage de valeurs manquantes': missing_percentage
})
missing_data_info
#valeurs nulles pour chaque colonne + pourcentage

,Nom de la colonne,Nombre de valeurs manquantes,Pourcentage de valeurs manquantes
destination,destination,0,0.000000
passanger,passanger,0,0.000000
weather,weather,0,0.000000
temperature,temperature,0,0.000000
time,time,0,0.000000
coupon,coupon,0,0.000000
expiration,expiration,0,0.000000
gender,gender,0,0.000000
age,age,0,0.000000
maritalStatus,maritalStatus,0,0.000000
has_children,has_children,0,0.000000
education,education,0,0.000000
occupation,occupation,0,0.000000
income,income,0,0.000000
car,car,12576,99.148534
Bar,Bar,107,0.843582
CoffeeHouse,CoffeeHouse,217,1.710817
CarryAway,CarryAway,151,1.190476
RestaurantLessThan20,RestaurantLessThan20,130,1.024913
Restaurant20To50,Restaurant20To50,189,1.490066
toCoupon_GEQ5min,toCoupon_GEQ5min,0,0.000000
toCoupon_GEQ15min,toCoupon_GEQ15min,0,0.000000
toCoupon_GEQ25min,toCoupon_GEQ25min,0,0.000000
direction_same,direction_same,0,0.000000
direction_opp,direction_opp,0,0.000000
Y,Y,0,0.000000

In [25]:
for column in data.columns:
    unique_values = data[column].unique()
    print(f"Valeurs uniques pour la colonne {column}: {unique_values}")

Valeurs uniques pour la colonne destination: ['No Urgent Place' 'Home' 'Work']
Valeurs uniques pour la colonne passanger: ['Alone' 'Friend(s)' 'Kid(s)' 'Partner']
Valeurs uniques pour la colonne weather: ['Sunny' 'Rainy' 'Snowy']
Valeurs uniques pour la colonne temperature: [55 80 30]
Valeurs uniques pour la colonne time: ['2PM' '10AM' '6PM' '7AM' '10PM']
Valeurs uniques pour la colonne coupon: ['Restaurant(<20)' 'Coffee House' 'Carry out & Take away' 'Bar'
 'Restaurant(20-50)']
Valeurs uniques pour la colonne expiration: ['1d' '2h']
Valeurs uniques pour la colonne gender: ['Female' 'Male']
Valeurs uniques pour la colonne age: ['21' '46' '26' '31' '41' '50plus' '36' 'below21']
Valeurs uniques pour la colonne maritalStatus: ['Unmarried partner' 'Single' 'Married partner' 'Divorced' 'Widowed']
Valeurs uniques pour la colonne has_children: [1 0]
Valeurs uniques pour la colonne education: ['Some college - no degree' 'Bachelors degree' 'Associates degree'
 'High School Graduate' 'Graduate degree (Masters or Doctorate)'
 'Some High School']
Valeurs uniques pour la colonne occupation: ['Unemployed' 'Architecture & Engineering' 'Student'
 'Education&Training&Library' 'Healthcare Support'
 'Healthcare Practitioners & Technical' 'Sales & Related' 'Management'
 'Arts Design Entertainment Sports & Media' 'Computer & Mathematical'
 'Life Physical Social Science' 'Personal Care & Service'
 'Community & Social Services' 'Office & Administrative Support'
 'Construction & Extraction' 'Legal' 'Retired'
 'Installation Maintenance & Repair' 'Transportation & Material Moving'
 'Business & Financial' 'Protective Service'
 'Food Preparation & Serving Related' 'Production Occupations'
 'Building & Grounds Cleaning & Maintenance' 'Farming Fishing & Forestry']
Valeurs uniques pour la colonne income: ['$37500 - $49999' '$62500 - $74999' '$12500 - $24999' '$75000 - $87499'
 '$50000 - $62499' '$25000 - $37499' '$100000 or More' '$87500 - $99999'
 'Less than $12500']
Valeurs uniques pour la colonne car: [nan 'Scooter and motorcycle' 'crossover' 'Mazda5' 'do not drive'
 'Car that is too old to install Onstar :D']
Valeurs uniques pour la colonne Bar: ['never' 'less1' '1~3' 'gt8' nan '4~8']
Valeurs uniques pour la colonne CoffeeHouse: ['never' 'less1' '4~8' '1~3' 'gt8' nan]
Valeurs uniques pour la colonne CarryAway: [nan '4~8' '1~3' 'gt8' 'less1' 'never']
Valeurs uniques pour la colonne RestaurantLessThan20: ['4~8' '1~3' 'less1' 'gt8' nan 'never']
Valeurs uniques pour la colonne Restaurant20To50: ['1~3' 'less1' 'never' 'gt8' '4~8' nan]
Valeurs uniques pour la colonne toCoupon_GEQ5min: [1]
Valeurs uniques pour la colonne toCoupon_GEQ15min: [0 1]
Valeurs uniques pour la colonne toCoupon_GEQ25min: [0 1]
Valeurs uniques pour la colonne direction_same: [0 1]
Valeurs uniques pour la colonne direction_opp: [1 0]
Valeurs uniques pour la colonne Y: [1 0]

In [26]:
# Supprimer la colonne car ( 99% des valeurs sont manquantes ) 
data = data.drop('car', axis=1)

In [27]:
# Supprimer la colonne toCoupon_GEQ5min ( toCoupon_GEQ5min prend la meme valeurs pour tout les lignes 1  ) 
data = data.drop('toCoupon_GEQ5min', axis=1)

In [28]:
data.shape 
# taille apres supprussion du colonne car et toCoupon_GEQ5min

(12684, 24)

In [29]:
# remplacer les valeurs manquants par la valeur la plus frequente (most frequent value)
data['Bar'] = data['Bar'].fillna(data['Bar'].mode()[0])
data['CoffeeHouse'] = data['CoffeeHouse'].fillna(data['CoffeeHouse'].mode()[0])
data['CarryAway'] = data['CarryAway'].fillna(data['CarryAway'].mode()[0])
data['RestaurantLessThan20'] = data['RestaurantLessThan20'].fillna(data['RestaurantLessThan20'].mode()[0])
data['Restaurant20To50'] = data['Restaurant20To50'].fillna(data['Restaurant20To50'].mode()[0])
data.isnull().sum()

destination             0
passanger               0
weather                 0
temperature             0
time                    0
coupon                  0
expiration              0
gender                  0
age                     0
maritalStatus           0
has_children            0
education               0
occupation              0
income                  0
Bar                     0
CoffeeHouse             0
CarryAway               0
RestaurantLessThan20    0
Restaurant20To50        0
toCoupon_GEQ15min       0
toCoupon_GEQ25min       0
direction_same          0
direction_opp           0
Y                       0
dtype: int64

In [30]:
#Valeurs uniques pour la colonne passanger: ['Alone' 'Friend(s)' 'Kid(s)' 'Partner']

In [31]:



#data_encoded

In [33]:
# Créer un dictionnaire de correspondance catégorie -> entier
# category_mapping = {
#     '2PM': 14,
#     '10AM': 10,
#     '6PM': 18,
#     '7AM': 7,
#     '10PM': 22
# }
# category_mapping_weather = {
#     'Sunny': 0,
#     'Rainy': 1,
#     'Snowy': 2
# }
# category_mapping_expiration = {
#     '1d': 24,
#     '2h': 2
# }
# category_mapping_gender = {
#     'Female': 0,
#     'Male': 1
# }
# category_mapping_age = {
#     'below21': 20,
#     '21': 21,
#     '26': 26,
#     '31': 31,
#     '36': 36,
#     '41': 41,
#     '46': 46,
#     '50plus': 50
# }
# category_mapping_age = {
#     'below21': 20,
#     '21': 21,
#     '26': 26,
#     '31': 31,
#     '36': 36,
#     '41': 41,
#     '46': 46,
#     '50plus': 50
# }
# category_mapping_education = {
#     'Some High School':0,
#     'High School Graduate':1,
#     'Some college - no degree':2,
#     'Associates degree':3,
#     'Bachelors degree':4,
#     'Graduate degree (Masters or Doctorate)':5 }

# data_encoded = pd.get_dummies(data, columns=['destination'], prefix='dest')
# data_encoded = pd.get_dummies(data_encoded, columns=['passanger'], prefix='passan')
# data_encoded = pd.get_dummies(data_encoded, columns=['coupon'], prefix='coupon')
# data_encoded['time'] = data_encoded['time'].map(category_mapping)
# data_encoded['weather'] = data_encoded['weather'].map(category_mapping_weather)
# data_encoded['expiration'] = data_encoded['expiration'].map(category_mapping_expiration)
# data_encoded['gender'] = data_encoded['gender'].map(category_mapping_gender)
# data_encoded['age'] = data_encoded['age'].map(category_mapping_age)
# data_encoded['education'] = data_encoded['education'].map(category_mapping_education)
#data_encoded
# Effectuer l'encodage numérique de la colonne "destination"
# data_encoded.info()

# Afficher le DataFrame avec la colonne "destination_encoded"
# gender: ['Female' 'Male']
#time: ['2PM' '10AM' '6PM' '7AM' '10PM']
# expiration: ['1d' '2h']
#Valeurs uniques pour la colonne education: ['Some college - no degree' 'Bachelors degree' 'Associates degree'
 # 'High School Graduate' 'Graduate degree (Masters or Doctorate)'
 # 'Some High School']
#Valeurs uniques pour la colonne weather: ['Sunny' 'Rainy' 'Snowy']

In [35]:
# occupation_dict = {'Healthcare Support':'High_Acceptance','Construction & Extraction':'High_Acceptance','Healthcare Practitioners & Technical':'High_Acceptance',
#                    'Protective Service':'High_Acceptance','Architecture & Engineering':'High_Acceptance','Production Occupations':'Medium_High_Acceptance',
#                     'Student':'Medium_High_Acceptance','Office & Administrative Support':'Medium_High_Acceptance','Transportation & Material Moving':'Medium_High_Acceptance',
#                     'Building & Grounds Cleaning & Maintenance':'Medium_High_Acceptance','Management':'Medium_Acceptance','Food Preparation & Serving Related':'Medium_Acceptance',
#                    'Life Physical Social Science':'Medium_Acceptance','Business & Financial':'Medium_Acceptance','Computer & Mathematical':'Medium_Acceptance',
#                     'Sales & Related':'Medium_Low_Acceptance','Personal Care & Service':'Medium_Low_Acceptance','Unemployed':'Medium_Low_Acceptance',
#                    'Farming Fishing & Forestry':'Medium_Low_Acceptance','Installation Maintenance & Repair':'Medium_Low_Acceptance','Education&Training&Library':'Low_Acceptance',
#                     'Arts Design Entertainment Sports & Media':'Low_Acceptance','Community & Social Services':'Low_Acceptance','Legal':'Low_Acceptance','Retired':'Low_Acceptance'}
# data_encoded['occupation'] = data_encoded['occupation'].map(occupation_dict)
# from sklearn.preprocessing import OrdinalEncoder
# encoder = OrdinalEncoder()
# encoder = OrdinalEncoder(categories=[ ['Low_Acceptance','Medium_Low_Acceptance','Medium_Acceptance','Medium_High_Acceptance','High_Acceptance']])
# data_encoded.occupation = encoder.fit_transform(data_encoded.occupation.values.reshape(-1, 1))

#data_encoded

In [37]:
#data_encoded.info()

In [38]:
# Comptez le nombre de personnes ayant accepté le coupon (Y = 1)
nombre_accepte = data[data['Y'] == 1]['Y'].count()

# Calculez le pourcentage
nombre_total = len(data)  # Nombre total de personnes dans l'ensemble de données
pourcentage_accepte = (nombre_accepte / nombre_total) * 100

# Affichez le résultat
print("Pourcentage de personnes ayant accepté le coupon :", pourcentage_accepte, "%")

Pourcentage de personnes ayant accepté le coupon : 56.84326710816777 %

In [39]:
counts = data['maritalStatus'].value_counts()
print("Pourcentage de chaque type de maritalStatus :")
print(counts)

Pourcentage de chaque type de maritalStatus :
Married partner      5100
Single               4752
Unmarried partner    2186
Divorced              516
Widowed               130
Name: maritalStatus, dtype: int64

In [40]:
# counts = data['toCoupon_GEQ5min'].value_counts()
# print("Pourcentage de chaque type de maritalStatus :")
# print(counts)

KeyError: 'toCoupon_GEQ5min'

In [41]:
counts = data['income'].value_counts()
print("Pourcentage de chaque type de maritalStatus :")
print(counts)

Pourcentage de chaque type de maritalStatus :
$25000 - $37499     2013
$12500 - $24999     1831
$37500 - $49999     1805
$100000 or More     1736
$50000 - $62499     1659
Less than $12500    1042
$87500 - $99999      895
$75000 - $87499      857
$62500 - $74999      846
Name: income, dtype: int64

In [42]:
# Utilisez crosstab pour compter les occurrences de votre variable par rapport à l'acceptation ou le refus du coupon
tableau_croise = pd.crosstab(index=data['destination'], columns=data['Y'], normalize='index') * 100

# Affichez le tableau croisé
print(tableau_croise)

Y                        0          1
destination
Home             49.366698  50.633302
No Urgent Place  36.622633  63.377367
Work             49.778761  50.221239

In [43]:
# Utilisez crosstab pour compter les occurrences de votre variable par rapport à l'acceptation ou le refus du coupon
tableau_croise = pd.crosstab(index=data['passanger'], columns=data['Y'], normalize='index') * 100

# Affichez le tableau croisé
print(tableau_croise)

Y                  0          1
passanger
Alone      47.419576  52.580424
Friend(s)  32.656155  67.343845
Kid(s)     49.502982  50.497018
Partner    40.465116  59.534884

In [44]:
# Utilisez crosstab pour compter les occurrences de votre variable par rapport à l'acceptation ou le refus du coupon
tableau_croise = pd.crosstab(index=data['weather'], columns=data['Y'], normalize='index') * 100

# Affichez le tableau croisé
print(tableau_croise)

Y                0          1
weather
Rainy    53.719008  46.280992
Snowy    52.953737  47.046263
Sunny    40.520409  59.479591

In [45]:
data = data.drop_duplicates()

In [46]:
print('Is there any missing value present or not?',data.isnull().values.any())
missing_percentage = data.isnull().sum()*100/len(data)
missing_value_df = pd.DataFrame({'missing_count': data.isnull().sum(),'missing_percentage': missing_percentage})
missing_value_df[missing_value_df.missing_count != 0]

Is there any missing value present or not? False

Empty DataFrame
Columns: [missing_count, missing_percentage]
Index: []

In [47]:
# # Supprimer la colonne car
# data = data.drop('car', axis=1)

KeyError: "['car'] not found in axis"

In [50]:
data['Bar'].fillna(data['Bar'].value_counts().index[0], inplace=True)
data['CoffeeHouse'].fillna(data['CoffeeHouse'].value_counts().index[0], inplace=True)
data['CarryAway'].fillna(data['CarryAway'].value_counts().index[0], inplace=True)
data['RestaurantLessThan20'].fillna(data['RestaurantLessThan20'].value_counts().index[0], inplace=True)
data['Restaurant20To50'].fillna(data['Restaurant20To50'].value_counts().index[0], inplace=True)

In [52]:
data.corr()

,temperature,has_children,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
temperature,1.000000,-0.018599,-0.157089,-0.227165,0.097972,-0.097972,0.059393
has_children,-0.018599,1.000000,0.079434,-0.010773,-0.032353,0.032353,-0.045056
toCoupon_GEQ15min,-0.157089,0.079434,1.000000,0.321260,-0.302066,0.302066,-0.082693
toCoupon_GEQ25min,-0.227165,-0.010773,0.321260,1.000000,-0.189900,0.189900,-0.108139
direction_same,0.097972,-0.032353,-0.302066,-0.189900,1.000000,-1.000000,0.014932
direction_opp,-0.097972,0.032353,0.302066,0.189900,-1.000000,1.000000,-0.014932
Y,0.059393,-0.045056,-0.082693,-0.108139,0.014932,-0.014932,1.000000

In [62]:
from sklearn.preprocessing import StandardScaler

#Standardization des données:
numeric_columns = ["temperature", "age", "income"]

# Filter out non-numeric columns
numeric_data = data[numeric_columns].select_dtypes(include='number')
# Créez un StandardScaler pour standardiser les données
scaler = StandardScaler()

data[numeric_data.columns] = scaler.fit_transform(numeric_data)
print(data)

           destination  passanger weather  temperature  time  \
0      No Urgent Place      Alone   Sunny    -0.431651   2PM
1      No Urgent Place  Friend(s)   Sunny     0.873653  10AM
2      No Urgent Place  Friend(s)   Sunny     0.873653  10AM
3      No Urgent Place  Friend(s)   Sunny     0.873653   2PM
4      No Urgent Place  Friend(s)   Sunny     0.873653   2PM
...                ...        ...     ...          ...   ...
12679             Home    Partner   Rainy    -0.431651   6PM
12680             Work      Alone   Rainy    -0.431651   7AM
12681             Work      Alone   Snowy    -1.736955   7AM
12682             Work      Alone   Snowy    -1.736955   7AM
12683             Work      Alone   Sunny     0.873653   7AM

                      coupon expiration  gender age      maritalStatus  ...  \
0            Restaurant(<20)         1d  Female  21  Unmarried partner  ...
1               Coffee House         2h  Female  21  Unmarried partner  ...
2      Carry out & Take away         2h  Female  21  Unmarried partner  ...
3               Coffee House         2h  Female  21  Unmarried partner  ...
4               Coffee House         1d  Female  21  Unmarried partner  ...
...                      ...        ...     ...  ..                ...  ...
12679  Carry out & Take away         1d    Male  26             Single  ...
12680  Carry out & Take away         1d    Male  26             Single  ...
12681           Coffee House         1d    Male  26             Single  ...
12682                    Bar         1d    Male  26             Single  ...
12683      Restaurant(20-50)         2h    Male  26             Single  ...

         Bar CoffeeHouse CarryAway RestaurantLessThan20 Restaurant20To50  \
0      never       never       1~3                  4~8              1~3
1      never       never       1~3                  4~8              1~3
2      never       never       1~3                  4~8              1~3
3      never       never       1~3                  4~8              1~3
4      never       never       1~3                  4~8              1~3
...      ...         ...       ...                  ...              ...
12679  never       never       1~3                  4~8              1~3
12680  never       never       1~3                  4~8              1~3
12681  never       never       1~3                  4~8              1~3
12682  never       never       1~3                  4~8              1~3
12683  never       never       1~3                  4~8              1~3

      toCoupon_GEQ15min toCoupon_GEQ25min direction_same direction_opp  Y
0                     0                 0              0             1  1
1                     0                 0              0             1  0
2                     1                 0              0             1  1
3                     1                 0              0             1  0
4                     1                 0              0             1  0
...                 ...               ...            ...           ... ..
12679                 0                 0              1             0  1
12680                 0                 0              0             1  1
12681                 0                 0              1             0  0
12682                 1                 1              0             1  0
12683                 0                 0              1             0  0

[12610 rows x 24 columns]

In [69]:
# Normalisation 
from sklearn.preprocessing import MinMaxScaler

colonnes_numeriques = data.select_dtypes(include=['number']).columns

scaler_minmax = MinMaxScaler()
data_normalized = data.copy()
data_normalized[colonnes_numeriques] = scaler_minmax.fit_transform(data_normalized[colonnes_numeriques])
print(data)

           destination  passanger weather  temperature  time  \
0      No Urgent Place      Alone   Sunny    -0.431651   2PM
1      No Urgent Place  Friend(s)   Sunny     0.873653  10AM
2      No Urgent Place  Friend(s)   Sunny     0.873653  10AM
3      No Urgent Place  Friend(s)   Sunny     0.873653   2PM
4      No Urgent Place  Friend(s)   Sunny     0.873653   2PM
...                ...        ...     ...          ...   ...
12679             Home    Partner   Rainy    -0.431651   6PM
12680             Work      Alone   Rainy    -0.431651   7AM
12681             Work      Alone   Snowy    -1.736955   7AM
12682             Work      Alone   Snowy    -1.736955   7AM
12683             Work      Alone   Sunny     0.873653   7AM

                      coupon expiration  gender age      maritalStatus  ...  \
0            Restaurant(<20)         1d  Female  21  Unmarried partner  ...
1               Coffee House         2h  Female  21  Unmarried partner  ...
2      Carry out & Take away         2h  Female  21  Unmarried partner  ...
3               Coffee House         2h  Female  21  Unmarried partner  ...
4               Coffee House         1d  Female  21  Unmarried partner  ...
...                      ...        ...     ...  ..                ...  ...
12679  Carry out & Take away         1d    Male  26             Single  ...
12680  Carry out & Take away         1d    Male  26             Single  ...
12681           Coffee House         1d    Male  26             Single  ...
12682                    Bar         1d    Male  26             Single  ...
12683      Restaurant(20-50)         2h    Male  26             Single  ...

         Bar CoffeeHouse CarryAway RestaurantLessThan20 Restaurant20To50  \
0      never       never       1~3                  4~8              1~3
1      never       never       1~3                  4~8              1~3
2      never       never       1~3                  4~8              1~3
3      never       never       1~3                  4~8              1~3
4      never       never       1~3                  4~8              1~3
...      ...         ...       ...                  ...              ...
12679  never       never       1~3                  4~8              1~3
12680  never       never       1~3                  4~8              1~3
12681  never       never       1~3                  4~8              1~3
12682  never       never       1~3                  4~8              1~3
12683  never       never       1~3                  4~8              1~3

      toCoupon_GEQ15min toCoupon_GEQ25min direction_same direction_opp  Y
0                     0                 0              0             1  1
1                     0                 0              0             1  0
2                     1                 0              0             1  1
3                     1                 0              0             1  0
4                     1                 0              0             1  0
...                 ...               ...            ...           ... ..
12679                 0                 0              1             0  1
12680                 0                 0              0             1  1
12681                 0                 0              1             0  0
12682                 1                 1              0             1  0
12683                 0                 0              1             0  0

[12610 rows x 24 columns]

In [68]:
#Verification s'il y a des valeurs abérrantes
colonnes_numeriques = data.select_dtypes(include=['number']).columns

iqr_dict = {}  # Créez un dictionnaire pour stocker les IQR

for colonne in colonnes_numeriques:
    Q1 = data[colonne].quantile(0.25)
    Q3 = data[colonne].quantile(0.75)
    IQR = Q3 - Q1
    iqr_dict[colonne] = IQR

# Identifiez les valeurs aberrantes
seuils_superieurs = Q3 + 1.5 * IQR
seuils_inferieurs = Q1 - 1.5 * IQR
valeurs_aberrantes = data[(data[colonne] < seuils_inferieurs) | (data[colonne] > seuils_superieurs)]

print (valeurs_aberrantes)

#Résultat négatif: pas de outliers

Empty DataFrame
Columns: [destination, passanger, weather, temperature, time, coupon, expiration, gender, age, maritalStatus, has_children, education, occupation, income, Bar, CoffeeHouse, CarryAway, RestaurantLessThan20, Restaurant20To50, toCoupon_GEQ15min, toCoupon_GEQ25min, direction_same, direction_opp, Y]
Index: []

[0 rows x 24 columns]